<% content_for :title do %>New Password<% end %>
<h1 style="text-align: center">New Password</h1>
<div style="text-align: center">
  <%= form_for(:user, url: password_resets_update_path ) do |f| %>

      <!-- This hidden field is because while the user isn't editing the email here, -->
      <!-- I need the email for the POST request because that is how the user will be found -->
      <%= f.hidden_field(:email, value: @user.email) %>

      <%= f.label(:password, "Enter your new password") %><br>
      <%= f.password_field(:password) %><br><br>
      <%= f.label(:password_confirmation, "Please re-enter your new password") %><br>
      <%= f.password_field(:password_confirmation) %><br><br>
      <%= f.submit("Reset Password") %>
  <% end %>
</div>

