<% content_for :title do %><%= @user.screen_name %><% end %>
<h1><%= @user.first_name %> <%= @user.last_name %></h1>
<p><%= @user.screen_name %><br><%= @user.email %></p>

<%= link_to "Edit", edit_user_path(@user.id) %><br>
<%= link_to "Click here to delete your account", delete_account_email_url %>

