<% content_for :title do %>My Photos<% end %>

<h1>My Photos</h1>

<% if @photos.any? %>
    <% @photos.each do |photo| %>
        <%= display_photo_thumb(photo) %>
        <%= link_to 'Edit', edit_photo_path(photo) %> |
        <%= link_to 'Delete', delete_photo_path(photo) %> |
        <% unless @current_user.profile_pic == photo.id %>
          <%= link_to 'Make My Profile Pic', make_profile_pic_path(photo) %><br><br>
        <% else %>
            <%= link_to 'Remove as Profile Pic', reject_profile_path(photo) %><br><br>
        <% end %>
    <% end %>
<% end %>

<%= link_to 'Add Photo', new_photo_path %>
