<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= Rails.configuration.x.business['site_title'] %> | <%= yield(:title) %></title>
  <%= include_gon %>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" media="all" rel="stylesheet" type="text/css">
  <%= csrf_meta_tags %>
  <link href="/assets/css/bootstrap.min.css" media="all" rel="stylesheet" type="text/css"/>
  <link href="/assets/css/style.css" media="all" rel="stylesheet" type="text/css"/>
  <script src="/assets/js/third-party/jquery-3.0.0.min.js"></script>
  <script src="/assets/js/third-party/bootstrap.js"></script>
  <script src="/assets/js/third-party/angular.js"></script>
  <script src="/assets/js/globals.js"></script>
  <script src="/assets/js/controllers.js"></script>
</head>
<body data-ng-app="app">
<nav class="top-nav">
  <ul>
    <% if logged_in? %>
        <li>Hello <%= @current_user.screen_name %></li>
        <li><a href="<%= home_path %>"><i class="fa fa-home"></i> Home</a></li>
        <li><a href=""><i class="fa fa-user"></i> My Account</a></li>
        <li><a href="<%= create_edit_service_path %>"><i class="fa fa-suitcase"></i> My Services</a></li>
        <li><a href="<%= logout_path %>"><i class="fa fa-sign-out"></i> Sign Out</a></li>
    <% else %>
        <li><a href="<%= home_path %>"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="<%= login_path %>"><i class="fa fa-sign-in"></i> Sign In</a></li>
        <li><a href="<%= user_register_path %>"><i class="fa fa-user"></i> Create an Account</a></li>
    <% end %>
  </ul>
</nav>
<section id="main">
  <%= render 'layouts/flash' %>
  <%= yield %>
</section>
</body>
<script>
    window.taktyx.conn = new WebSocket('ws://localhost:5052');
    window.taktyx.conn.onmessage = function (e) {

      data = JSON.parse(e.data);

      // Handle setting connection id
      if(data.task == 'connect' && typeof data.connection_id !== 'undefined')
      {
        window.taktyx.conn_id = data.connection_id;

        // Send to server information about user online
        window.taktyx.conn.send(JSON.stringify({task: 'providing_info', user_id: gon.current_user_id || 0, conn_id: data.connection_id}));
      }
      else if(data.task == 'make_ready')
      {
        // Connection is now ready to take messages
        $(document).trigger('socket-connect-ready');
      }
      else if(data.task == 'update_takts_signal')
      {
        // Update takts event
        $(document).trigger('update-takts', [data.service_id]);
      }
    }
</script>
</html>
