<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= Rails.configuration.x.business['site_title'] %> | <%= yield(:title) %></title>
  <%= include_gon %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <script>
      window.taktyx = window.taktyx || {};
      window.taktyx.datalayer = window.taktyx.datalayer || {};
  </script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body data-ng-app="app">
<nav class="top-nav">
  <ul>
    <% if logged_in? %>
        <li>Hello <%= link_to @current_user.screen_name, user_profile_path(@current_user.id) %></li>
        <li><a href="<%= home_path %>"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="<%= user_profile_path(@current_user.id) %>"><i class="fa fa-user"></i> My Account</a></li>
        <li><a href="<%= create_edit_service_path %>"><i class="fa fa-suitcase"></i> My Services</a></li>
        <li><a href="<%= logout_path %>"><i class="fa fa-sign-out"></i> Sign Out</a></li>
    <% else %>
        <li><a href="<%= home_path %>"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="<%= login_path %>"><i class="fa fa-sign-in"></i> Sign In</a></li>
        <li><a href="<%= user_register_path %>"><i class="fa fa-user"></i> Create an Account</a></li>
    <% end %>
  </ul>
</nav>
<section id="main">
  <%= render 'layouts/flash' %>
  <%= yield %>
</section>
</body>
</html>
